.container{
  padding: 5% 20%;
  font-family: "Raleway", sans-serif;
  h2{
    text-align: center;
    font-size: 200%;
    margin: 2% 0;
  }
  .form{
    max-width: 100%;
    padding: 5% 15% 10% 15%;
    .input{
      text-align: center;
      display: block;
      width: 100%;
    }
    button{
      margin-left: 50%;
      margin-top: 2%;
      transform: translate(-50%,0);
    }
  }
}

