<div class="container">
  <div class="left">
  </div>

  <div class="right">
    <h2>Bejelentkezés</h2>
    <form [formGroup]="form">
      <div class="email">
        <label>Email cím</label>
        <input type="email" formControlName="email" required>
      </div>
      <label>Jelszó</label>
      <input type="password" formControlName="password"required password>
      <button (click)="onLogin()">Belépés</button>
    </form>
  </div>
</div>
<!--
<mat-form-field appearance="standard">
  <mat-label>Standard form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
-->
<!-- <h2>Bejelentkezés</h2>
<hr>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Email cím</mat-label>
    <input matInput type="email" name="email" required ngModel #emailInput="ngModel">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required password>
  </mat-form-field>
  <button mat-button type="submit">Belépés</button>
</form> -->
