h2{
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 40px 0;
  span{
    color: rgb(46, 100, 37);
    font-weight: 800;
  }
}
.profile-container{
  margin: 30px 20%;
  display: flex;
  flex-direction: row;
  .left-side{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      max-width: 160px;
      border-radius: 50%;
      margin-left: 50%;
      transform: translate(-70%,0);
      margin-right: -50%;
      margin-bottom: 10px;
    }
    .user-options, tr, td{
      width: 80%;
      padding: 15px 10px;
      border-collapse: collapse;
      border: .5px solid grey;
      text-align: center;
      a{
        text-decoration: none;
        color: inherit;
        &:hover{
          color: rgb(46, 100, 37);
        }
      }
    }
  }
  .right-side{
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    .user-datas, tr, td{
      border-collapse: collapse;
      border-radius: 50px;
      border: 1px solid grey;
      border-left: none;
      border-right: none;
      padding: 25px 15px;
    }
  }
}
