.upload-container{
  padding: 10% 15%;
  h2{
    text-align: center;
    font-size: 200%;
    margin: 2% 0 5% 0;
  }
  .card{
    padding: 0 2% 5% 2%;
    .expansion{
      max-width: 100%;
      .form{
        width: 100%;
        .column{
          float: left;
          width: 40%;
          padding: 0 4%;
          .input{
            display: block;
            max-width: 100%;
          }
          button{
            float: right;
          }
        }

      }
    }
  }
}
