.hero-image-section{
   background-image: url("../../assets/img/villagenight-02.jpg");
   background-size: 800px;
   background-repeat: no-repeat;
   background-position: center center;
   height: 80%;
   width: 100%;
   margin-top: -100px;
}
