<section class="hero-image-section">
    <div class="search-container"></div>
    <div class="heading-container"></div>
</section>
<section class="information-section">
    <div class="left-side"></div>
    <div class="right-side"></div>
</section>
<section class="featured-homes-section">
    <div class="card-container"></div>
</section>
<section class="experts-section">
    <div class="information-container"></div>
    <div class="experts-card-container"></div>
</section>
<section class="reviews-section"></section>
