<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="hero-image-section">
  <mat-card class="hero-image-card">
    <h1>Az álomotthon többé nem csak álom!</h1>
    <div class="search-container">
      <form>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Város</mat-label>
          <input matInput id="city" type="text" formControlName="city">
        </mat-form-field>
        <div class="type-select">
          <label for="type">Eladó</label>
          <input id="type" formControlName="type" type="radio" value="Eladó"><br>
          <label for="type">Kiadó</label>
          <input id="type" formControlName="type" type="radio" value="Kiadó">
        </div>
        <div class="price-selector">
          <input type="number" id="minPrice" formControlName="minPrice" placeholder='Ár minimum'>
          <input type="number" id="maxPrice" formControlName="maxPrice" placeholder='Ár maximum'>
        </div>
      </form>
    </div>
  </mat-card>
  </section>
<section class="information-section">
  <div class="left">
    <mat-card class="card">
      <h2>Mi is a Home-Maker?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt egestas odio, sit amet elementum tellus sodales sit amet. Aliquam dignissim, felis id dignissim facilisis, augue metus mollis ante, id tempor urna erat ac magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consequat tempor blandit. Curabitur a pulvinar leo. Praesent nec arcu sit amet risus aliquet blandit. Donec vestibulum convallis nunc vitae faucibus. Duis euismod nunc ipsum, ornare mollis est molestie in. Nunc commodo viverra lectus, et lobortis augue vulputate ac.</p>
      <div class="btn-container">
        <button mat-raised-button>Tudj meg többet</button>
        <button mat-raised-button>Kapcsolat</button>
      </div>
    </mat-card>
  </div>
  <div class="right">
    <mat-card class="card">
      <ul>
      <li><span>1000+</span> elérhető otthon</li>
      <li><span>200+</span> elérhető szakember</li>
      <li><span>20+</span> elérhető profi ingatlanszakértő</li>
      <li><span>10/10</span> elégedett ügyfél</li>
    </ul>
  </mat-card>
  </div>
  
</section>
<section class="featured-homes-section">
  <h2>Kiemelt ingatlanok</h2>
  <div class="card-container">
    <div class="card">
      <div class="top">
        <span class="price">20m</span>
      </div>
      <div class="bottom">
        <p>Budapest, 12. kerület<br>Győri út 14.</p>
        <button>Megnézem</button>
      </div>
    </div>
  </div>
</section>
<section class="experts-section">
    <div class="information-container">
      <h1>Minden egy helyen</h1>
      <h3>Keressen szakembereket minden szakterületről, az egész ország területén. A Home Maker-en megtalálható szakemberek megbízhatóak, elérhetőek és várják hívását!</h3>
      <div class="common-searches">
        <p>Gyakori keresések:</p>
        <p>Budapest, Vízvezetékszerelő</p>
        <p>Budapest, Asztalos</p>
        <p>Győr, Tetőfedő</p>
      </div>
    </div>
    <div class="experts-card-container">
      <!-- lehet slideshow is a kártyákból-->
      <h3>Legjobbra értékelt szakembereink</h3>
      <div class="card">
        <div class="image-container"></div>
        <h3>Szabó Tamás</h3>
        <h3>Villanyszerelő</h3>
        <p class="best-ranking-desc">Értékelés szövege</p>
        <button>Profil megtekintése</button>
        <button>Email küldése</button>
      </div>
    </div>
</section>
<section class="reviews-section"></section>
