.hero-image-section{
   background-image: url("../../assets/img/main-page2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   height: 90%;
   width: 100%;
   margin-top: -75px;
}
