<mat-card class="banner">
    <h3>Még soha nem volt ennyire egyszerű szakembert keresni...</h3>
    <h4>Nyílvántartásunkban kivétel nélkül csak megbízható, valós szakemberek szerepelnek.</h4>
</mat-card>
<!-- a keresésnek dinamikusan kell működnie, a gombok megnyomásával bekapcsoljuk a filtert, újbóli megnyomásra kikapcsoljuk -->
<mat-card class="side-bar-categories">
    <p>Kiválasztott kategóriák:</p>
    <hr>
    <p>Összes kategória</p>
    <button mat-button>Tetőfedő</button>
    <button mat-button>Villanyszerelő</button>
    <button mat-button>Vízvezetékszerelő</button>
    <button mat-button>Lakatos</button>
    <button mat-button>Asztalos</button>
    <button mat-button>Festő - mázoló</button>
    <button mat-button>Kertész</button>
    <button mat-button>Takarító</button>
    <button mat-button>Autószerelő</button>
    <button mat-button>Egyéb</button>
</mat-card>
<mat-card class="expert-card-container">
    <mat-card class="expert-card">
        <img>
        <div>
            <p>Asztalos Jenő</p>
            <p>Asztalos</p>
            <div class="regions">
                <span>Pest megye</span>
                <span>Győr-Moson-Sopron megye</span>
                <span>Komárom-Esztergom megye</span>
            </div>
            <p>Elérhető: <span>Azonnal</span></p>
            <button mat-button>Adatlap</button>
            <button mat-button>Üzenet</button>
            <button mat-button>Felhívom</button>
        </div>
    </mat-card>
</mat-card>
