.nav-bar{
  a{
    color: inherit;
    text-decoration: none;
    transition: 0.2s ease-in all;
    &:hover{
      color: hsl(258, 86%, 37%);
    }
  }
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 15px;
  z-index: 100;
  font-family: 'Raleway', sans-serif;
  .left-side{
    float: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  .right-side{
    ul{
      margin-left: 25%;
      list-style-type: none;
      font-weight: 800;
      li{
        float: left;
        padding: 20px 10px 0 50px;
      }
    }
  }
  .profile{
    padding-top: 5px;
    ul{
      list-style-type: none;
      li{
        float: right;
        padding-right: 30px;
        .signup {
          font-weight: 700;
            border: 2px solid white;
            background-color: none;
            border-radius: 45px;
            padding: 10px 15px;
            transition: 0.2s ease-in all;
            &:hover{
              background-color: white;
              color: hsl(258, 86%, 37%);;
            }
        }
      }
    }
  }
  .clear{
    clear: both;
  }
}

.overload{
  background: rgba(0,0,0,0.3);
}
