<div class="navbar">
  <mat-card class="navcard">
    <div class="logo">
      <a routerLink="/">HOME</a></div>
    <div class="menu">
      <ul>
        <li>
          <a routerLink="home/all">Ingatlanok</a>
        </li>
        <li>
          <a routerLink="expert/all">Szakemberek</a>
        </li>
        <li>
          <a routerLink="/">Kapcsolat</a>
        </li>
      </ul>
    </div>
    <div class="profile">
      <ul>
        <li *ngIf="!(this.authservice.getIsAuth())">
          <a routerLink='signin'>Bejelentkezés</a>
        </li>
        <li *ngIf="!(this.authservice.getIsAuth())">
          <a routerLink="signup">Regisztráció</a>
        </li>
        <li *ngIf="this.authservice.getIsAuth()">
          <button mat-button [matMenuTriggerFor]="menu">Profil</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><a routerLink="home/upload">Ingatlan feltöltése</a></button>
            <button mat-menu-item><a routerLink="userhome">Profil megtekintése</a></button>
            <button mat-menu-item>Ingatlanjaim</button>
            <button mat-menu-item>Mentett Ingatlanok</button>
            <button mat-menu-item>Mentett Szakemberek</button>
          </mat-menu>
        </li>
        <li *ngIf="this.authservice.getIsAuth()">
          <button mat-button (click)="logOut()">Kijelentkezés</button>
        </li>
      </ul>
    </div>
  </mat-card>
</div>

<!-- <nav class="nav-bar">
  <div class="left-side">
      <a routerLink=''>HOME</a>
  </div>
  <div class="right-side">
    <ul>
        <li>
          <a routerLink="home/all">Ingatlanok</a>
        </li>
        <li>
          <a routerLink="expert/all">Szakemberek</a>
        </li>
        <li>
          <a routerLink="re-agent/all">Ingatlanosok</a>
        </li>
        <li>
          <a href="#">Kapcsolat</a>
        </li>
    </ul>
  </div>
  <div class="profile">
    <ul>
      <li *ngIf="!isLoggedIn">
        <a class="signin" routerLink='signin'>Bejelentkezés</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="signup" routerLink="signup">Regisztráció</a>
      </li>
    </ul>
    <a *ngIf="isLoggedIn" class="upload" routerLink="home/upload">Ingatlan feltöltése</a>
    <a *ngIf="isLoggedIn" class="profile-btn" [matMenuTriggerFor]="profilemenu"><mat-icon>person</mat-icon></a>
      <mat-menu #profilemenu="matMenu">
        <div class="profile-menu">
          <a routerLink="userhome">Profil megtekintése</a><br>
          <a routerLink="home/featured">Ingatlanjaim</a>
          <a routerLink="home/all">Mentett ingatlanok</a>
          <button class="logout" (click)="logOut()">Kijelentkezés</button>
        </div>
      </mat-menu>
  </div>
</nav>
-->
