<nav class="nav-bar">
  <div class="left-side">
      <a routerLink=''>HOME</a>
  </div>
  <div class="right-side">
    <ul>
        <li>
          <a routerLink="home/all">Ingatlanok</a>
        </li>
        <li>
          <a routerLink="expert/all">Szakemberek</a>
        </li>
        <li>
          <a routerLink="re-agent/all">Ingatlanosok</a>
        </li>
        <li>
          <a href="#">Kapcsolat</a>
        </li>
    </ul>
  </div>
  <div class="profile">
    <ul>
      <li *ngIf="!isLoggedIn">
        <a class="signin" routerLink='signin'>Bejelentkezés</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="signup" routerLink="signup">Regisztráció</a>
      </li>
    </ul>
    <a *ngIf="isLoggedIn" class="upload" routerLink="home/upload">Ingatlan feltöltése</a>
    <a *ngIf="isLoggedIn" class="profile-btn" [matMenuTriggerFor]="profilemenu"><mat-icon>person</mat-icon></a>
      <mat-menu #profilemenu="matMenu">
        <div class="profile-menu">
          <a routerLink="userhome">Profil megtekintése</a><br>
          <a routerLink="home/featured">Ingatlanjaim</a>
          <a routerLink="home/all">Mentett ingatlanok</a>
          <button class="logout" (click)="logOut()">Kijelentkezés</button>
        </div>
      </mat-menu>
  </div>
</nav>
