<section class="home-section">
  <div class="left-side">
    <div class="image-gallery">
      <img src="../../../assets/img/home-exmpl.jpg">
    </div>
  </div>
  <div class="center-side">
    <div class="information-box">
      <div class="headlines">
        <h1>{{home.city}}</h1>
        <h2>{{home.address}}</h2>
      </div>
      <!-- scrollable, fixed height-->
      <div class="description">
        <p>Leírás</p>
      </div>
      <!-- little informtion, all details in two columns, with icons in each line-->
      <div class="details">
        <ul>
          <li>{{home.size}} + ikon</li>
          <li>{{home.price}} + ikon</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="uploader-info-card">
    </div>
  </div>
</section>
<section class="re-agent-section"></section>
<section class="similar-houses-section"></section>
<section class="related-experts-section"></section>
