<h2>Regisztráció</h2>
<form (submit)="onSignup(loginForm)" #loginForm="ngForm">
  <mat-form-field>
    <mat-label>Email cím</mat-label>
    <input matInput ngModel type="email" name="email" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Jelszó</mat-label>
    <input matInput ngModel type="password" name="password" required>
  </mat-form-field>
  <button mat-button type="Submit">Regisztráció</button>
</form>


<!--<h2>Hozza létre felhasználói fiókját másodpercek alatt!</h2>
<hr>
<form (submit)="onSignup(loginForm)" #loginForm="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Vezetéknév</mat-label>
    <input matInput type="text" name="lastName" ngModel #lastNameInput="ngModel" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Keresztnév</mat-label>
    <input matInput type="text" name="firstName" ngModel #firstNameInput="ngModel" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Felhasználó típus</mat-label>
    <mat-select name="role" [(value)]="role">
      <mat-option value="User">Új ügyfél vagyok</mat-option>
      <mat-option value="Szakember">Szakember vagyok</mat-option>
      <mat-option value="Ingatlanos">Ingatlanos vagyok</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email cím</mat-label>
    <input matInput type="email" name="email" required ngModel #emailInput="ngModel">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required password>
  </mat-form-field>
  <button mat-button type="submit">Regisztráció</button>
</form>
Selected: {{role}}
-->
