<div class="tab-container">
  <mat-card class="card">
  <h2>Regisztráció</h2>
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Felhasználóként regisztrálok
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content">
      <form class="form" [formGroup]="form">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Keresztnév</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Vezetéknév</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Email cím</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="onSignup('User')">Regisztráció</button>
      </form>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Szakemberként regisztrálok
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon> build </mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content">
      <form class="form" [formGroup]="expertForm">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Keresztnév</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Vezetéknév</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Szakterület</mat-label>
          <mat-select>
            <mat-option *ngFor="let field of fields" [value]="field.value">
              {{field.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Email cím</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="onSignup('Expert')">Regisztráció</button>
      </form>
    </div>
  </mat-expansion-panel>
</mat-card>
</div>

