<div class="tab-container">
  <h1>Regisztráció</h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab class="content" label="Felhasználóként regisztrálok">
      <div class="content">
        <form class="form" [formGroup]="form">
          <label>Keresztnév</label>
          <input type="text" formControlName="firstName">
          <label>Vezetéknév</label>
          <input type="text" formControlName="lastName">
          <label>Email cím</label>
          <input type="text" formControlName="email">
          <label>Jelszó</label>
          <input type="password" formControlName="password">
          <button type="submit" (click)="onSignup('User')">Regisztráció</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Szakemberként regisztrálok">
      <form [formGroup]="expertForm">
        <label>Keresztnév</label>
        <input type="text" formControlName="firstName">
        <label>Vezetéknév</label>
        <input type="text" formControlName="lastName">
        <label>Fő terület</label>
        <input type="text" formControlName="mainField">
        <label>Email cím</label>
        <input type="text" formControlName="email">
        <label>Jelszó</label>
        <input type="password" formControlName="password">
        <button (click)="onSignup('User')">Regisztráció</button>
      </form>
    </mat-tab>
    <mat-tab label="Ingatlanosként regisztrálok"> Content 3 </mat-tab>
  </mat-tab-group>
</div>


<!--<h2>Hozza létre felhasználói fiókját másodpercek alatt!</h2>
<hr>
<form (submit)="onSignup(loginForm)" #loginForm="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Vezetéknév</mat-label>
    <input matInput type="text" name="lastName" ngModel #lastNameInput="ngModel" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Keresztnév</mat-label>
    <input matInput type="text" name="firstName" ngModel #firstNameInput="ngModel" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Felhasználó típus</mat-label>
    <mat-select name="role" [(value)]="role">
      <mat-option value="User">Új ügyfél vagyok</mat-option>
      <mat-option value="Szakember">Szakember vagyok</mat-option>
      <mat-option value="Ingatlanos">Ingatlanos vagyok</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email cím</mat-label>
    <input matInput type="email" name="email" required ngModel #emailInput="ngModel">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required password>
  </mat-form-field>
  <button mat-button type="submit">Regisztráció</button>
</form>
Selected: {{role}}
-->
